.card-item {
  background: #f0f0f3;
  box-shadow: -2.17893px -2.17893px 6.5368px #ffffff,
    2.17893px 2.17893px 6.5368px rgba(174, 174, 192, 0.4);
  border-radius: 10px;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 25px;
    font-weight: 600;
    color: #728ab7;
    text-transform: capitalize;
    @media (max-width: 1000px) {
      font-size: 18px;
    }
  }

  &__done {
    fill: #808b9f;
    width: 25px;
    height: 25px;
    opacity: 0.3;
    transition: 0.3s opacity;
    user-select: none;

    &:hover {
      opacity: 1;
      fill: #6abbb7;
    }
  }

  &__close {
    width: 25px;
    height: 25px;
    fill: #4f5f7a;
    user-select: none;
    opacity: 0.3;
    transition: 0.3s opacity;

    &:hover {
      opacity: 1;
    }
  }

  &__move {
    align-self: flex-end;
    opacity: 0.3;
    transition: 0.3s opacity;
    display: flex;
    user-select: none;
    width: 25px;
    height: 25px;

    &:hover {
      opacity: 1;
    }

    & svg path {
      fill: #808b9f;
    }
  }

  &__back {
    align-self: flex-end;
    opacity: 0.5;
    transition: 0.3s opacity;
    display: flex;
    fill: #808b9f;
    width: 25px;
    height: 25px;

    &:hover {
      opacity: 1;
      fill: #748199;
    }
  }
}
